<div class="jumbotron">
	<h1 class="display-4">NodeJS + Passport</h1>
	<p class="lead">This app is designed to walk us through the process of implementing local session / cookie-based authentication.</p>
	<hr class="my-4">
	<p>PassportJS is a great Express middleware package to implement several methods of authentication.</p>
	<a class="btn btn-primary btn-lg" href="/users/login" role="button">Log In</a>
	<a class="btn btn-primary btn-lg" href="/users/signup" role="button">Sign Up</a>
</div>