<h1>New Post</h1>


<div class="row text-center">
        <div class="col">
          
            <form method="post" action="/places/<%= place_id %>/posts">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" type="text" id="title" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="body">Body:</label>
                    <!-- <input name="body" id="body" class="form-control" > -->
                    <textarea name="body" id="body" class="form-control"></textarea>

                </div>
                <button  type="submit" >Submit</button>
            </form>
        </div>
    </div>



